.App-Light {
  text-align: center;
  background-color: rgba(33, 33, 33, .5);
}
.App-Dark {
  text-align: center;
  background-color:rgba(33, 33, 33, .9);
}
.header-area{
  display: flex;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
}
.mode-Light{
    background-image: url('./components/images/moon(2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width:30px;
    height:30px;
}
.mode-Dark{
  background-image: url('./components/images/sun.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width:30px;
  height:30px;
}